{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container-fluid">
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <section>
            <p class="listing_title">{{ listing.title }}</p>
            <p class="listing_description">{{ listing.description }}</p>
            <p class="listing_price">${{ listing.price }}</p>
            {% if listing.category %}
            <p class="listing_category">Category: {{ listing.category }}</p>
            {% endif %}

            {% if listing.url %}
            <div class="row">
                <img class="img-fluid img-thumbnail col-3" src="{{ listing.url }}">
            </div>
            {% endif %}
        </section>
        {% if user.is_authenticated %}
        <p>The current maximum bid is ${{ max_bid }}</p>
        <form action="{% url 'bid' listing.id %}" method="POST">
            {% csrf_token %}
            <div class="row align-items-center mt-3">
                <label for="bid_input" class="col-sm-auto fs-4 text-success">Bid (US$)</label>
                <div class="col-sm-3">
                    {{ bid_form }}
                </div>
                <input type="submit" class="btn btn-success col-sm-1" value="Post">
            </div>
        </form>
        <form action="{% url 'watch' listing.id %}" method="POST">
            {% csrf_token %}
            <div class="row mt-3">
                <div class="col-sm-1">
                    {% if item_in_watchlist %}
                    <input type="submit" class="btn btn-danger" value="Remove from Watchlist">
                    {% else %}
                    <input type="submit" class="btn btn-primary" value="Add to Watchlist">
                </div>
            {% endif %}
            </div>
        </form>
        {% endif %}
    </div>
{% endblock %}
