{% extends "auctions/layout.html" %}

{% block body %}
    {% if not active %}
        {% if user == listing.winner %}
            <span class="alert alert-success row">Congratulations {{ user }}! You have won this auction!</span>
            
        {% else %}
            <span class="alert alert-danger row">This auction is closed!
            {% if listing.winner %}
                The winner is {{ listing.winner }}
            {% endif %}
            </span>
        {% endif %}
    {% endif %}

    {% for message in messages %}
        <p class="text-danger">{{ message }}</p>
    {% endfor %}

    <section class="listing">
            <p class="listing_title">{{ listing.title }}</p>
            <p class="listing_description">{{ listing.description }}</p>
            <p class="listing_user">Listed by: {{ listing.user }}</p>
            <p class="listing_price">${{ listing.price }}</p>
            {% if listing.category %}
                <p class="listing_category">
                    Category: <a href="{% url 'category' listing.category %}"> {{ listing.category }}</a>
                </p>
            {% endif %}

            {% if listing.url %}
                <div class="listing_image">
                    <img src="{{ listing.url }}">
                </div>
            {% endif %}
    </section>

    <form action="{% url 'watch' listing.id %}" method="POST">
        {% csrf_token %}
        <div class="row mt-3">
            <div class="col px-0">
                {% if item_in_watchlist %}
                    <input type="submit" class="watchlist_remove_btn" value="Remove from Watchlist">
                {% else %}
                    <input type="submit" class="watchlist_add_btn" value="Add to Watchlist">
                {% endif %}
            </div>
        </div>
    </form>

    {% if active and user.is_authenticated %}
        {% if user != listing.user %}
            <form action="{% url 'bid' listing.id %}" method="POST">
                {% csrf_token %}
                <div class="row align-items-center mt-3">
                    <label for="bid_input" class="col-sm-auto fs-4 text-success">Bid (US$)</label>
                    <div class="col-sm-3">
                        {{ bid_form }}
                    </div>
                    <input type="submit" class="bid_btn" value="Bid">
                </div>
            </form>
        {% endif %}

        {% if user == listing.user %}
            <form action="{% url 'close' listing.id %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <input type="submit" class="close_auction_btn mt-3" value="Close Auction">
                </div>
            </form>
        {% endif %}

        <form action="{% url 'comment' listing.id %}" method="POST">
            {% csrf_token %}
            <div class="row align-items-center mt-3">
                <div class="col-sm-3">
                    {{ comment_form }}
                </div>
                <input type="submit" class="btn btn-success col-sm-1" value="Submit">
            </div>
        </form>
    {% endif %}

    {% for comment in listing.listing_comments.all %}
        <div class="row">
            <div class="listing_comment">
                <span>{{ comment.user }}</span>
                <p>{{ comment.comment }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
